* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.container{
    max-width: 1352px;
    margin: 0 auto;
}

.container2{
    max-width: 1124px;
    margin: 0 auto;
}

header {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    position: fixed;
    width: 100vw;
    z-index: 3;
}

.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.page-header-logo {
    text-align: left;
    font-size: 32px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0;
    color: #08A6E4;
    padding: 20px 8px;
}
.page-header-nav {
    padding: 28px 8px;

}

.page-header-nav > ul > li {
    display: inline;
    padding: 0px 28px;
}

.page-header-nav > ul > li > a {
    color: #000000;
    font-family: 'Open Sans Bold', sans-serif;
    font-size: 15px;
    letter-spacing: 3.28px;
    text-align: center;
    text-decoration: none;
}

.page-header-nav > ul > li > a:hover {
    padding-bottom: 25px;
    border-bottom: 4px solid #08A6E4;
}

main {
    padding: 100px 0px;
}

.section1 {
    background-image: url("../pictures/Background.png");
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    /*width: 100vw;*/
    height: 700px;
}

.section1-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 100px;
}
.section1-content > h1 {
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-size: 49px;
    line-height: 59px;

}

.section1-content > p {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 22px;
    padding: 20px 0px;

}

.section1-content > button {
    box-shadow: 5px 10px 14px #07ACE629;
    background: #08A6E4 0% 0% no-repeat padding-box;
    border-radius: 40px;
    border: none;
    width: 440px;
    height: 67px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Open Sans Bold', sans-serif;
    cursor: pointer;
}

.section2 {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px -5px 80px #00000029;
    /*width: 100vw;*/
    padding-top: 100px;
}

.section2-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.section2-content > h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    line-height: 46px;
}

.section2-content-box {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    padding-bottom: 140px;
}

.section2-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 176px;
}

.section2-box > div {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    position: relative;
}

.section2-box > div > img {
    position: absolute;
    left: 25px;
}

.section2-content-box > div:nth-child(2) > div > img {
    top: 15px;
}
.section2-content-box > div:nth-child(1) > div {
    background: #FB3B64 0% 0% no-repeat padding-box;
}

.section2-content-box > div:nth-child(2) > div {
    background: #08A6E4 0% 0% no-repeat padding-box;
}

.section2-content-box > div:nth-child(3) > div {
    background: #55DFB4 0% 0% no-repeat padding-box;
}

.section2-box > :nth-child(n) {
    padding-top: 10px;
    text-align: center;
}
.section2-box > p:nth-of-type(1) {
    font-family: 'Raleway ExtraBold', sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.section2-box > p:nth-of-type(2) {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #A5A5A5;
}

.section3 {
    background: #F7F7F7 0% 0% no-repeat padding-box;
    /*width: 100vw;*/
}

.section3-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-top: 100px;
}

.section3-box1 {
    background: #FFFFFF 0% 0% no-repeat;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    position: relative;
    height: 370px;
    z-index: 0;
    margin-bottom: 40px;
}

.section3-box1 > div {
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    background: #FB3B64 0% 0% no-repeat padding-box;
    border-radius: 41px;
    width: 180px;
    height: 180px;
    display: block;
    position: absolute;
    top: 70px;
    right: 80px;
    z-index: 1;
}

.section3-box1  > img {
    width: 400px;
    z-index: 2;
    position: absolute;
    top: 100px;
    right: 100px;
    display: block;
}

.section3-box1 > h1{
    padding-top: 100px;
    padding-left: 36px;
    text-align: left;
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    line-height: 43px;
    width: 40%;
}

.section3-box1 > p {
    padding-top: 40px;
    width: 40%;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 22px;
    padding-left: 36px;

}

.section3-box1 > span {
    background: #FB3B64 0% 0% no-repeat;
    padding-left: 36px;
    width: 280px;
    height: 2px;
    display: block;
    position: absolute;
    top: 280px;
    left: 36px;
    z-index: 1;
}


.section3-box2 {
    background: #FFFFFF 0% 0% no-repeat;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    position: relative;
    height: 370px;
    width: 100%;
    z-index: 0;
    margin-bottom: 40px;
}

.section3-box2 > div {
    background: #07ACE6 0% 0% no-repeat padding-box;
    border-radius: 50%;
    width: 320px;
    height: 320px;
    display: block;
    position: absolute;
    top: 20px;
    left: 70px;
    z-index: 1;

}

.section3-box2  > img {
    width: 400px;
    z-index: 2;
    position: absolute;
    top: 40px;
    left: 70px;
    display: block;

}

.section3-box2 > h1{
    padding-top: 50px;
    padding-right: 180px;
    text-align: left;
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    line-height: 43px;
    width: 40%;
    float: right;
}

.section3-box2 > p {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    width: 40%;
    float: right;
    position: absolute;
    right: 0px;
    padding-top: 180px;
    padding-right: 20px;
}

.section3-box2 > span {
    background: #07ACE6 0% 0% no-repeat padding-box;
    padding-left: 36px;
    width: 280px;
    height: 2px;
    display: block;
    position: absolute;
    top: 280px;
    right: 170px;
    z-index: 1;
}

.section3-box3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 40px;
}

.section3-box3-1 {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    height: 370px;
    width: 55%;
    margin-right: 5%;
    position: relative;
}

.section3-box3-2 {
    background: #55DFB4 0% 0% no-repeat padding-box;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    height: 370px;
    width: 40%;
    position: relative;
}

.section3-box3-2 > img {
    width: 300px;
    top: 100px;
    left: 50px;
    position: absolute;
}

.section3-box3-1 > h1{
    padding-top: 50px;
    padding-left: 36px;
    text-align: left;
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    line-height: 43px;
    width: 70%;
}

.section3-box3-1 > p {
    padding-top: 40px;
    width: 100%;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 22px;
    padding-left: 36px;

}

.section3-box3-1 > span {
    background: #55DFB4 0% 0% no-repeat padding-box;
    padding-left: 36px;
    width: 280px;
    height: 2px;
    display: block;
    position: absolute;
    top: 280px;
    left: 36px;
    z-index: 1;
}

.section4 {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    /*width: 100vw;*/
}
.section4-content {
    text-align: center;
    width: 100%;
    padding-top: 100px;
}

.section4-box-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 50px;
}

.section4-box1 {
    width: 30%;
    border: 1px solid #FB3B64;
    border-radius: 18px;
}
.section4-box2 {
    width: 30%;
    box-shadow: 5px 10px 27px #07ACE629;
    border: 1px solid #07ACE6;
    border-radius: 18px;

}
.section4-box3 {
    width: 30%;
    border: 1px solid #55DFB4;
    border-radius: 18px;
}

.section4-box1 > p, .section4-box2 >p, .section4-box3 >p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 41px;
    text-align: center;
    color: #000000;
}

.section4-box1 > p:first-of-type, .section4-box2 > p:first-of-type, .section4-box3 > p:first-of-type {
    font-family: 'Open Sans', sans-serif;
    font-size: 46px;
    line-height: 2px;
    padding-top: 40px;
    padding-bottom: 40px;
    letter-spacing: 0;
}

.section4-box1 > p:nth-of-type(2), .section4-box3 > p:nth-of-type(2){
    padding-top: 40px;
}

.section4-box2 > p:nth-of-type(2) {
    padding-top: 50px;
}

.section4-box1 > p:first-of-type {
    color: #FB3B64;
}

.section4-box2 > p:first-of-type {
    color: #07ACE6;
}

.section4-box3 >p:first-of-type {
    color: #55DFB4;
}

.section4-box1 > h2, .section4-box2 > h2, .section4-box3 > h2 {
    font-family: 'Raleway ExtraBold', sans-serif;
    font-size: 20px;
    line-height: 1px;
    text-align: center;
    color: #13253B;
    padding-top: 40px;
}

.section4-box2 > span, .section4-box3 > span {
    font-family: 'Raleway ExtraBold', sans-serif;
    font-size: 12px;
    line-height: 1px;
    text-align: center;
    color: #13253B;
}

.section4-box1 > a, .section4-box2 > a, .section4-box3 > a {
    font-family: 'Open Sans Bold', sans-serif;
    font-size: 13px;
    line-height: 50px;
    color: #FFFFFF;
    border-radius: 23px;
    width:150px;
    height: 50px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    margin-top: 40px;
    bottom: -25px;
}

.section4-box1 > a {
    background: #EB476E 0% 0% no-repeat padding-box;
}
.section4-box2 > a {
    background: #07ACE6 0% 0% no-repeat padding-box;
    box-shadow: 5px 10px 27px #07ACE629;
    margin-top: 50px;
}
.section4-box3 > a {
    background: #55DFB4 0% 0% no-repeat padding-box;
}

.section4-box1 > p > span, .section4-box2 > p > span, .section4-box3 > p > span{
    border: 1px solid #55DFB4;
    border-radius: 2px;
    margin-right: 10px;
    width:11px;
    height:11px;
    display: inline-block;
}

.section4-box1 > p:nth-of-type(n+5) > span, .section4-box2 > p:last-of-type > span {
    border: 1px solid #EB476E;
}

.section5 {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    /*width: 100vw;*/
}
.section5-content {
    width: 100%;
    padding-top: 150px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.section5-text {
    width:30%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-right: 10%;
}

.section5-text > h1 {
    letter-spacing: 0;
    color: #000000;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: 49px;
    line-height: 59px;
}

.section5-text > p {
    letter-spacing: 0;
    color: #000000;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 22px;
    padding-top: 22px;
}

.section5-text >div {
    padding-top: 30px;
}

.section5-text > div > span {
    letter-spacing: 0;
    color: #A5A5A5;
    font-family: 'Open Sans Semibold', sans-serif;
    font-size: 16px;
    line-height: 22px;
    padding-right: 20px;
}

.section5-text > div >img {
    display: inline-block;
    width:27px;
    height:27px;
    top: 8px;
    position: relative;
    margin-right: 10px;
}

.section5-form {
    width: 30%;
}

.section5-form :nth-child(n) {
    display: block;
}

.section5-form input:nth-of-type(1), .section5-form input:nth-of-type(2) {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 15px;
    border: none;
    border-bottom: 1px solid #08A6E4;
    font-family: 'Open Sans Bold', sans-serif;
    font-size: 20px;
    line-height: 15px;
}

.section5-form input:nth-of-type(2) {
    margin-bottom: 30px;
}

.section5-form > form > input:nth-of-type(3) {
    float: left;
    /*margin-right: 10px;*/
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #95989A;
    border-radius: 4px;
    width: 24px;
    height:24px;

}

.section5-form > form > p {
    font-family: 'Open Sans Bold', sans-serif;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0;
    color: #707070;
    padding-left: 30px;

}

.section5-form > form > label {
    text-align: left;
    letter-spacing: 3.28px;
    color: #08A6E4;
    font-family: 'Open Sans Bold', sans-serif;
    font-size: 11px;
    line-height: 15px;
}

.section5-form > form > button {
    float: right;
    background: #08A6E4 0% 0% no-repeat padding-box;
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 35px;
    width: 226px;
    height: 57px;
    font-family: 'Open Sans Bold', sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
    margin-top: 20px;
    cursor: pointer;
}

footer {
    background: #F7F7F7 0% 0% no-repeat padding-box;
    box-shadow: 0px -5px 40px #00000029;
    /*width: 100%;*/
}

.section-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
}

.left-footer > h1 {
    text-align: left;
    font-family: 'Raleway Light', sans-serif;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0;
    color: #08A6E4;
}

.left-footer >p {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0;
    color: #A5A5A5;
    padding-top: 5px;
}

.right-footer > a {
    padding-left: 15px;
}
